
@{
    ViewBag.Title = "corporates_ngo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageBnner">
    <img src="~/Content/images/cororate.jpg" alt="" />
</div>
<div class="container-fluid">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center">
                <div class="box px-5">
                    <h1 class="title-h1"><span>For Corporates </span>& NGOs</h1>
                    <div class="text lh-2">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="pageSubImage">
                    <img src="~/Content/images/cororate2.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid page">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="front">
                        <div class="img">
                            <img src="~/Content/images/health-camp.png" alt="" />
                        </div>
                        <div class="text"><span>Health</span> Camp</div>
                        <div class="hoverText">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="front">
                        <div class="img">
                            <img src="~/Content/images/health-talk.png" alt="" />
                        </div>
                        <div class="text"><span>Health</span> Talks</div>
                        <div class="hoverText">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="front">
                        <div class="img">
                            <img src="~/Content/images/community-health-camp.png" alt="" />
                        </div>
                        <div class="text"><span>Community</span> Health Camps</div>
                        <div class="hoverText">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="front">
                        <div class="img">
                            <img src="~/Content/images/health-checkup.png" alt="" />
                        </div>
                        <div class="text"><span>Free Health</span> Check Up Camps</div>
                        <div class="hoverText">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="front">
                        <div class="img">
                            <img src="~/Content/images/infection-control.png" alt="" />
                        </div>
                        <div class="text"><span>Hospital infection </span>Control Surveillance </div>
                        <div class="hoverText">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
