
@{
    ViewBag.Title = "For_patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="pageBnner">
            <img src="~/Content/images/for_patients.jpg" alt="" />
        </div>
        <div class="container-fluid">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-7 d-flex align-items-center">
                        <div class="box px-5">
                            <h1 class="title-h1"><span>For</span> Patients</h1>
                            <div class="text lh-2">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="pageSubImage">
                            <img src="~/Content/images/for_patients2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid page">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/home_call.png" alt="" />
                                </div>
                                <div class="text"><span>Home Sample</span> Collection</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/20x7.png" alt="" />
                                </div>
                                <div class="text"><span>Open 24</span> X 7 X 365</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/webstore.png" alt="" />
                                </div>
                                <div class="text">Webstore</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/home_call.png" alt="" />
                                </div>
                                <div class="text"><span>Report</span> Delivery at Home</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/20x7.png" alt="" />
                                </div>
                                <div class="text"><span>Customised</span> Health Packages</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/webstore.png" alt="" />
                                </div>
                                <div class="text"><span>Membership</span> Program</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/home_call.png" alt="" />
                                </div>
                                <div class="text"><span>Water Culture</span> for Drinking Water Coliform Count</div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="front">
                                <div class="img">
                                    <img src="~/Content/images/20x7.png" alt="" />
                                </div>
                                <div class="text">Cashless Service for Eligible CGHS & <span>Insurance Benificiaries</span></div>
                                <div class="hoverText">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>

